body{
    background-image: url(./imagens/background_.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 14px;
}

.alinhamento{
    text-align: center;
}

.background{
    background-color: aliceblue;
    background-size: cover;
}
.perfil{
    width: 36px;
    height: 36px;
    margin-bottom: 15px;
}
.estrela{
    width: 16px;
    height: 16px;
    margin-bottom: 20px;
    
}
.lupa{
    margin-top: 10px;
    width: 20px;
}
.tabuleiro{
    border-radius: 10px;
}
.estrelinha{
    padding-right: 5px;
    padding-bottom: 3px;
}
.card{
    background-color:#1F1F1F;
    color: aliceblue
    ;
    border-radius: 15px;
}

.Footer{
    padding-bottom: 50px;
}
.espaco{
    padding-bottom: 100%;
}
.pontos{
    padding-bottom: 8px;
}
.perfil_g{
    
    width: 270px;
}
.estrela_p{
    width: 35px;
}
.pontos_p{
    display: flex;
    flex-direction: row;
}
.titulo{
    font-size: 30px;
    
}

li{
    list-style-type: none;
}

.quest_logo{
    height: 70px;
}

.quest_logo_q{
    height: 50px;
}

.titulo_login{
    font-family: "Chubbo", sans-serif;
    font-weight: 700;
    color: #08394D;
}


.botao{
background: #BE2C53;
    width: 100%;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.botao :hover{
    transition: 0.5s all;
    background: #FF668F;
}

.fonte_login{
    font-family: "Supreme", sans-serif;
    font-weight: 400;
    color:#08394D;
}

.font_nav{
    color: #08394C;
    font-size: 16px;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    line-height: 150%;
}

.navbar{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    --bs-navbar-color: #08394D;
    --bs-navbar-hover-color: #BE2C53;
    --bs-navbar-active-color: #BE2C53;
    --bs-navbar-active-font-weight: 700;

}

.btn:hover {
    color: #fff;
    background-color: #FF668F;
    border-color: none;
}

.font_titulo_q{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    color: #08394D;
}

.espacamento_nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sobreposicao_desc{
    background: url(./imagens/fundo_desc.svg);
}

.itens_nav{
    white-space: nowrap;
}

.login_espacamento{
    justify-content: left;
    padding-right: 86%;
}

.login_espacamento_s{
    justify-content: left;
    padding-right: 315px;
}

.senha{
    background: url(./imagens/cadeado.svg) #fff no-repeat;
    background-position: 10px;
    padding-left: 32px;
}

.email{
    background: url(./imagens/smile.svg) #fff no-repeat;
    background-position: 10px;
    padding-left: 33px;
}

.espacamento_esqueci{
    display: flex;
    justify-content: flex-end;
    
}

.nickname{
    text-align: right;
    padding-right: 100%;
}

.senha_cadastro{
    padding-right: 100%;
}

.espacamento_grande{
    padding-right: 55%;
}
.espacamento_visitante{
    display: flex;
    justify-content:center;
}
.data{
    padding-right: 46%;
}

.nome_c{
    padding-right: 58%;
}

.espacamento_c{
    padding-right: 39%;
}

.text_align{
    text-align: right;

}

.background_header{
    background-color: #56B6DC;
    ;
}

.background_land{
    background-color: #E7F1F5;
}

.titulo_land{
    color: #08394C;
    font-size: 42px;
    font-family: Chubbo;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.42px;
}

.text_land{
    color: #08394C;
    font-size: 24px;
    font-family: Supreme;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.bg-body-tertiary{
    background-color: #56B6DC;
}

.font_p{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    color: #08394D;
    font-size: 20px;
}


.alert{
    color: rgb(255, 0, 0);
}

.botao_voltar{
    padding-top: 0.5rem;
}

.horas{
   width: 21rem;
   box-sizing: border-box;
}

.perfil_koala{
    width: 12rem;
    
}

.background_gradient{
    background: linear-gradient(180deg, rgba(187, 222, 86, 0.50) 0%, rgba(68, 144, 94, 0.50) 100%), #7AD786;
}

.agrupar{
    justify-content: center;
}

.botao_overlay{
    background: #FFFF;
    text-align: start;
    width: 240px;
    color: #08394C;
    width: 100%;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.icones{
    width: 3rem;
}
.icones_l{
    width: 40px;
    
}

.link{
    color: #08394C;
    text-decoration: none;
}

.logout{
    display: flex;
    flex-direction: row;
    
    
}

.logout:hover{
    background-color:#FF668F
    
}

.pontos_quest{
    display: flex;
    flex-direction: row;
     
    justify-content: flex-end;
    color: #F1C22E;
    width: 1rem;
    
}

.estrela_quest{
    width: 2rem;
    font-size: 20px;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    align-self: center;
}

.botao_modal{
    text-decoration: none;
}

