body{
    background-image: url(./imagens/background_login.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 14px;

}

.alinhamento{
    text-align: center;
}

.background{
    background-color: aliceblue;
    background-size: cover;
}
.perfil{
    width: 36px;
    height: 36px;
    margin-bottom: 15px;
}
.estrela{
    width: 16px;
    height: 16px;
    margin-bottom: 20px;
    
}
.lupa{
    margin-top: 10px;
    width: 20px;
}
.tabuleiro{
    border-radius: 10px;
}
.estrelinha{
    padding-right: 5px;
    padding-bottom: 3px;
}
.card{
    background-color:#1F1F1F;
    color: aliceblue
    ;
    border-radius: 15px;
}

.Footer{
    
    padding-bottom: 50px;
}
.espaco{
    padding-bottom: 100%;
}
.pontos{
    padding-bottom: 8px;
}
.perfil_g{
    
    width: 270px;
}
.estrela_p{
    width: 35px;
}
.pontos_p{
    display: flex;
    flex-direction: row;
}
.titulo{
    font-size: 30px;
    
}

li{
    list-style-type: none;
}

.quest_logo{
    height: 70px;
}

.quest_logo_q{
    height: 50px;
}

.titulo_login{
    font-family: "Chubbo", sans-serif;
    font-weight: 700;
    color: #08394D;
}


.botao{
background: #BE2C53;
    width: 100%;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
}

.fonte_login{
    font-family: "Supreme", sans-serif;
    font-weight: 400;
    color:#08394D;
    
    
}

.font_titulo_q{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    color:#08394D;
}

.login_espacamento{
    justify-content: left;
    padding-right: 83%;
}

.login_espacamento_s{
    justify-content: left;
    padding-right: 315px;
}

.senha{
    background: url(./imagens/cadeado.svg) #fff no-repeat;
    background-position: 10px;
    padding-left: 32px;
}

.email{
    background: url(./imagens/smile.svg) #fff no-repeat;
    background-position: 10px;
    padding-left: 33px;
}

.espacamento_esqueci{
    padding-left: 60%;
    
}

.nickname{
    text-align: right;
    padding-right: 100%;
}

.senha_cadastro{
    padding-right: 100%;
}

.espacamento_grande{
    padding-right: 55%;
}

.data{
    padding-right: 46%;
}

.nome_c{
    padding-right: 58%;
}
.star{
    
}

.espacamento_c{
    padding-right: 39%;
}

.text_align{
    text-align: right;

}

.background_header{
    background-color: #56B6DC;
    ;
}

.background_land{
    background-color: #fff;
}

.bg-body-tertiary{
    background-color: #56B6DC;
}

.font_p{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    color: #08394D;
    font-size: 20px;
}


.alert{
    color: rgb(255, 0, 0);
}

.botao_voltar{
    padding-top: 0.5rem;
}

.horas{
   width: 21rem;
   box-sizing: border-box;
}

.perfil_koala{
    width: 12rem;
    
}

.background_gradient{
    background: linear-gradient(180deg, rgba(187, 222, 86, 0.50) 0%, rgba(68, 144, 94, 0.50) 100%), #7AD786;
}