.body{
    background-image: url(./imagens/background_.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 14px;
}

.alinhamento{
    text-align: center;
}

.background{
    background-color: aliceblue;
    background-size: cover;
}
.perfil{
    width: 36px;
    height: 36px;
    margin-bottom: 15px;
}
.estrela{
    width: 19px;
    margin-bottom: 17px;
    
}
.lupa{
    margin-top: 10px;
    width: 20px;
}
.tabuleiro{
    border-radius: 10px;
    width: 23rem;
}
.estrelinha{
    padding-right: 5px;
}
.card{
    background-color:#08394C;
    color: aliceblue
    ;
    border-radius: 15px;
}

.Footer{
    padding-bottom: 50px;
}
.espaco{
    padding-bottom: 14px;
}
.espaco2{
    padding-bottom: 12px;
}
.pontos{
    padding-bottom: 8px;
}
.perfil_g{
    
    width: 270px;
}
.estrela_p{
    width: 35px;
}
.pontos_p{
    display: flex;
    flex-direction: row;
}
.titulo{
    font-size: 30px;
    
}

li{
    list-style-type: none;
}



.quest_logo{
    width: 15rem;
    
}

.quest_logo_q{
    height: 50px;
}

.titulo_login{
    font-family: "Chubbo", sans-serif;
    font-weight: 700;
    color: #08394D;
}


.botao{
background: #BE2C53;
    width: 100%;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    border-radius: 8px;
    padding: 14px 30px;
    border: none;
    box-shadow: 0px 5.333333492279053px 5.333333492279053px 0px rgba(0, 0, 0, 0.25);
}

.botao_inicio{
    background: #BE2C53;
    width: 100%;
    color: #FFF;
    font-size: 34.667px;
    font-family: Supreme;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.31px;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    border-radius: 10.667px;
    background: #BE2C53;
    box-shadow: 0px 5.333333492279053px 5.333333492279053px 0px rgba(0, 0, 0, 0.25);
    }

.botao :hover{
    transition: 0.5s all;
    background: #FF668F;
}

.fonte_login{
    font-family: "Supreme", sans-serif;
    font-weight: 400;
    color:#08394D;
}

.font_nav{
    color: #08394C;
    font-size: 16px;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    line-height: 150%;
}

.navbar{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    --bs-navbar-color: #08394D;
    --bs-navbar-hover-color: #BE2C53;
    --bs-navbar-active-color: #BE2C53;
    --bs-navbar-active-font-weight: 700;
    

}

.btn:hover {
    color: #fff;
    background-color: #FF668F;
    border-color: none;
}

.font_titulo_q{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    color: #08394D;
}

.botao_popover:hover{
    background-color: #FFF;
}

.img_quest{
    width: 869.333px;
    height: 817.333px;
    flex-shrink: 0;

}
.adesivo-quest{
    width: 80%;
}

.font_popover{
    font-family: "Supreme", sans-serif;
    font-weight: 400;
    color: #08394D;
    text-align:start;
}
.espacamento_nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sobreposicao_desc{
    background-image: url(./imagens/background_desc.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 932px;
}
.form_check{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sobreposicao_passos{
    background: url(./imagens/CAMINHO.svg) no-repeat;
}

.sobreposicao_cliente{
    background: url(./imagens/background_cliente.svg) no-repeat;
}

.itens_nav{
    white-space: nowrap;
}

.login_espacamento{
    justify-content: left;
    padding-right: 86%;
}

.login_espacamento_s{
    justify-content: left;
    padding-right: 315px;
}

.senha{
    background: url(./imagens/cadeado.svg) #fff no-repeat;
    background-position: 10px;
    padding-left: 32px;
}

.email{
    background: url(./imagens/smile.svg) #fff no-repeat;
    background-position: 10px;
    padding-left: 33px;
}

.espacamento_esqueci{
    display: flex;
    justify-content: flex-end;
    
}

.nickname{
    text-align: right;
    padding-right: 100%;
}

.senha_cadastro{
    padding-right: 100%;
}

.espacamento_grande{
    padding-right: 55%;
}
.espacamento_visitante{
    display: flex;
    justify-content:center;
}
.data{
    padding-right: 46%;
}

.txt_descricao{
    padding-top: 5rem;
}

.nome_c{
    padding-right: 58%;
}

.espacamento_c{
    padding-right: 39%;
}

.text_align{
    text-align: right;

}

.background_header{
    background-color: #56B6DC;
    ;
}

.background_land{
    background-color: #E7F1F5;
}

.tamanho_txt{
   padding-left: 5rem;
}


.caminho{
    width: 30rem;
}
.titulo_land2{
    color: #08394C;
    font-size: 35px;
    font-family: "Chubbo";
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.56px;
}

.titulo_land3{
    color: #08394C;
    font-size: 40px;
    font-family: "Chubbo";
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.56px;
}

.botao_inicio2{
    display: flex;
    width: 660px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10.667px;
    background: var(--ROSA-NORMAL, #BE2C53);
    box-shadow: 0px 5.33333px 5.33333px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Supreme;
    font-size: 34.667px;
    font-family: "Supreme";
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.text_land_desc2{
    color: #08394C;
    font-size: 25px;
    font-family: "Supreme";
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}


.titulo_land_cliente{
    color: #FFF;
    font-size: 56px;
    font-family: "Chubbo";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.31px;
    text-transform: uppercase;
}

.bg-body-tertiary{
    background-color: #56B6DC;
}

.font_p{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    color: #08394D;
    font-size: 20px;
}

.font_t{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    color: #08394D;
    font-size: 16px;
}

.alert{
    color: rgb(255, 0, 0);
    padding: 0;
    margin: 0;
    white-space: normal;
    word-break: normal;
}

.botao_voltar{
    padding-top: 0.5rem;
}
.div_horas{
    float: center;
    position: relative;
}
.horas{
   width: 21rem;
   box-sizing: border-box;
}

.texto_horas{
    position: absolute;
   top: 5rem;
   left: 10rem;
   /*cor apenas para exmplo*/
   color: #08394D;
   font-family: "Supreme", sans-serif;
    font-weight: 700;
}

.perfil_koala{
    width: 12rem;
}

.background_gradient{
    background: linear-gradient(180deg, rgba(187, 222, 86, 0.50) 0%, rgba(68, 144, 94, 0.50) 100%), #7AD786;
}

.agrupar{
    justify-content: center;
}

.botao_overlay{
    background: #FFFF;
    text-align: start;
    width: 320px;
    color: #08394C;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.icones{
    width: 3rem;
}
.icones_l{
    width: 40px;
    
}

.link{
    color: #08394C;
    text-decoration: none;
}

.logout{
    display: flex;
    flex-direction: row;
    
    
}

.logout:hover{
    background-color:#FF668F
    
}

.pontos_quest{
    display: flex;
    flex-direction: row;
     
    justify-content: flex-end;
    color: #F1C22E;
    width: 1rem;
    
}

.estrela_quest{
    width: 2rem;
    font-size: 20px;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    align-self: center;
}

.botao_modal{
    text-decoration: none;
}

.recomendado{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    border-radius: 600px;
    width: 100%;
    text-align: start;
    color: #08394D;
    background-color: #fff;
    border-color: #F1C22E;
    box-shadow: none;
    outline:none; 
}

.nao-recomendado{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    background-color: #fff;
    border-radius: 200px;
    width: 100%;
    text-align: start;
    color: #08394D;
    border-color: #08394D;
    box-shadow: none;
    outline:none; 
}
.tags{
    padding-bottom: 10%;
    align-self: center;
}

.background_config{
    background-color: #fff;
}

.imagem_perfil{
    float: center;
    position: relative;
}

.botao_editar{
    position: absolute;
   top: 0rem;
   left: 15rem;
}

.senha_config{
    text-align: end;
    color: #08394D;

}

.foto_p{
    padding: auto;
}

.botao_deletar{
    text-align: center;
    color: #08394D;
}

.lixeira{
    width: 20px;
}

.font_quests{
    font-size: 22px;
    font-family: "Supreme";
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.cor_itens{
    color: #fff;
    width: 16px;
    padding-bottom: 3px;
    
}

.botao_pdf{
    color: #fff;
    font-size: 20px;
}

.form_quests{
    box-shadow: none;
    background-color: #FFF;
    font-family: "Supreme", sans-serif;
}

.quests_todos{
        font-family: "Chubbo", sans-serif;
        font-weight: 700;
        color: #08394D;
        font-size: 21px;
    
}

.lupa_todos{
    width: 22px;
}

.interesses{
    display: flex;
    flex-direction: row;
}

.etiqueta_int{
    font-family: "Supreme", sans-serif;
    font-weight: 700;
    background-color: #fff;
    border-radius: 200px;
    width: 22rem;
    text-align: start;
    box-shadow: none;
    outline:none; 
}

.img_delete{
    float: center;
    position: relative;
}

.link_home{
    position: absolute;
    text-align: center;
    float:center;
    white-space: nowrap;
    left: 5rem;
    bottom: 2rem;
    padding-left: 1rem;
    color: #08394D;
    width: 5rem;
}

.link_home2{
    left: 4rem;
    padding-left: 1rem;
    color: #08394D;
    width: 5rem;
}

.link_home2:hover{
    left: 4rem;
    padding-left: 1rem;
    color: #FF668F;
    width: 5rem;
}

.background_footer{
    background-color: #7ACB65;
    bottom: 0;
    
}

.tela_deletar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: 50rem;
}

.font_tesao{
    font-family: "Supreme", sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.forms{
    box-shadow: none;
    float: center;
    position: relative;
}

.senha_config2{
    text-align: end;
    color: #08394D;
    position: absolute;
    top: 41%;
    left:60%;
}

.botao_disable{
    background-color: #535657;
}

.class1{
    background-color: #BE2C53;
}

.titulo_login_q{
color: #FFF;
font-size: 21px;
font-family: "Supreme";
font-style: normal;
font-weight: 700;
line-height: normal;
}  

.texto_data{
    padding-top: 5px;
    color: #FFF;
font-size: 13px;
font-family: "Supreme";
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.116px;
}

.sla{
    display: flex;
    flex-direction: row;
}

.espaco{
    margin-top: 5px;
    
}

.formatacao{
    box-shadow: none;
    border: none;
    background-color: white;
}

.modal_titulo{
    color: #1B9019;
    text-align: center;
    font-family: "Chubbo" ;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.off-canvas-modal {
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px; /* Inicialmente, o modal está fora da tela */
    z-index: 1050;
    transition: right 0.3s ease-in-out;
  }
  
  .off-canvas-modal.show {
    right: 0; /* Quando o modal está aberto, é posicionado na tela */
  }
  
  .texto_off{
    font-size: 22px;
  }
  
  
  