
.itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 14px;

}
.perfil{
    width: 36px;
    height: 36px;
    margin-bottom: 15px;
}
.estrela{
    width: 16px;
    height: 16px;
    margin-bottom: 20px;
    
}
.lupa{
    margin-top: 10px;
    width: 20px;
}
.tabuleiro{
    border-radius: 10px;
}
.estrelinha{
    padding-right: 5px;
    padding-bottom: 3px;
}
.card{
    background-color:#1F1F1F;
    color: aliceblue
    ;
    border-radius: 15px;
}

.background{
    background-image: url(./imagens/background1.svg);
    
    
}
.Footer{
    
    padding-bottom: 50px;
}
.espaco{
    padding-bottom: 100%;
}
.pontos{
    padding-bottom: 8px;
}
.perfil_g{
    
    width: 270px;
}
.estrela_p{
    width: 20px;
}
.pontos_p{
    display: flex;
    flex-direction: row;
}
.titulo{
    font-size: 30px;
    
}

li{
    list-style-type: none;
}

.quest_logo{
    height: 70px;
}

.titulo_login{
    font-family: "Chubbo", sans-serif;
    font-weight: 700;
    color: #08394D;
}

.tamanho{
    
    
}

.botao{
background: #BE2C53;
    width: 100%;
    font-family: "Supreme", sans-serif;
    font-weight: 700;
}

.fonte_login{
    font-family: "Supreme", sans-serif;
    font-weight: 400;
    color:#08394D;
    
    
}

.login_espacamento{
    justify-content: left;
    padding-right: 83%;
}

.login_espacamento_s{
    justify-content: left;
    padding-right: 315px;
}

.senha{
    background: url(./imagens/cadeado.svg) #fff no-repeat;
    background-position: 10px;
    padding-left: 32px;
}

.email{
    background: url(./imagens/smile.svg) #fff no-repeat;
    background-position: 10px;
    padding-left: 33px;
}

.espacamento_esqueci{
    padding-left: 60%;
    
}

.nickname{
    text-align: right;
    padding-right: 100%;
}

.senha_cadastro{
    padding-right: 100%;
}

.espacamento_grande{
    padding-right: 55%;
}

.data{
    padding-right: 46%;
}

.nome_c{
    padding-right: 58%;
}