@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(98.15deg, #6dbbb1 16.62%, #398650 85.61%);
    height: 100vh;
}   
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login_tela{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    background-color: #c056b7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding: 25px;
    gap: 15px;
    
}
.btn{
    margin-top: 2px;
    padding: 5px;
    cursor: pointer;
    font-weight: 10px;
    width: 50px;
    font-size: 13px;

}
.btn:active{
    background-color: #8fd6a4;
    border-radius: 20px;
    width: 50px;
    font-size: 13px;


}
.submit{
    margin-top: 5px;

}
.login_texto{
    font-size: 40px;
    
   
}
.btn_logar2{
    padding-top: 300px;
}
.logo{
    width: 80px;
    padding: 30px;
}